body {
  font-family: "courier", sans-serif;
  font-size: 62.5%;
  line-height: 1.42857143;
  color: black;
  background-color: #fefefe;
  font-size: 0.8rem;
  /* overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; */
}

input.checkbox {
  display: inline-block;
}
.navigate {
  position: absolute;
  z-index: 10;
}

.container {
  /* width: 90%; */
  margin: 0 auto;
}

*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  display: revert;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  cursor: revert;
}

menu,
ol,
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

li {
  flex: 0 0 20em;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
}

.row {
  height: 100%;
  border-top: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row__image {
  background: #228b22;
  width: 100%;
  display: inline-block;
}

.row__image:hover {
  background: #fefefe;
}

.row__image img {
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  filter: grayscale(100%) contrast(200%);
  opacity: 1;
}

.row,
.row__el {
  display: inline-block;
  margin-block: 1.5rem;
  gap: 3rem;
  justify-content: space-between;
}

.row a,
.row img {
  transition: all 0.5s ease-in-out;
}

.row__image img:hover {
  filter: none;
  mix-blend-mode: normal;
}

.row .image__inline {
  display: inline;
  vertical-align: middle;
  margin: 0%;
  width: 2rem;
}

.block__container {
  width: 100%;
  height: 100%;
  /* padding-block: 5rem; */
}

.name {
  font-size: 10pt;
  line-height: 1.42857143;
  color: red;
}

.otherName {
  font-size: 10pt;
  line-height: 1.42857143;
  color: blue;
}

.original {
  font-size: 10pt;
  line-height: 1.42857143;
  color: pink;
}

.where {
  font-size: 10pt;
  line-height: 1.42857143;
  color: orange;
}

.spiritual {
  font-size: 10pt;
  line-height: 1.42857143;
  color: purple;
}

.story {
  font-size: 10pt;
  line-height: 1.42857143;
  color: black;
}
